@import "./Utils/variables";
@import "./Utils/fonction";
@import "./Utils/mixin.scss";

/*général */
*
{
    list-style: none;
}
body{
    @include flex-colum;
    justify-content: center;
    
    margin: 0px;
}
.loader{
    position: fixed;
    @include display-center;
    animation: fondu 3s linear;
    background:  $colour-font;
    opacity: 0;
    z-index: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    &__icon{
        width: 4em;
        height: 4em;
        border: 0.2em solid black;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        animation: chargement 1.5s linear infinite;
    }
    &__icon:after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50% , -50%);
      width:  3em + 0.9em;
      height:  3em + 0.9em;
      border-radius: 50%;
      border: 1em solid ;
      border-color: $colour-secondary transparent;
    }
}
@keyframes chargement {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes fondu {
    0%{
        opacity:0.9;
        z-index: 2000;
    }
    80%{
        opacity:0.9;
        z-index: 2000;
    }
    100%{
        opacity:0;
        z-index: 2000;
    }
}

.logo {
    width: 100%;
    &__img{
        width: 50%;
        margin: 2% 25%;
        @media screen and (min-width: 850px){
            width: 20%;
            margin: 1% 40%; 
        }
    }
}
.header {
    position: absolute;
    left: 0;
    width: 100%;
    background-color: $colour-font;
    z-index: 1000;
    &__lieu{
        @include display-center;
        width: 100%;
        height: 3em;
        background-color: darken($colour-font,10%);
        box-shadow: 0px 40px 8px -36px rgba(105,105,105,0.75) inset;
        -webkit-box-shadow: 0px 40px 8px -36px rgba(105,105,105,0.75) inset;
        -moz-box-shadow: 0px 40px 8px -36px rgba(105,105,105,0.75) inset;
        &__div{
            margin-left: 15%;
            @media screen and (min-width: 850px){
                margin-left: 0%; 
            }
            &__button {
                margin-left: 1em;
                border: none;
                background-color: darken($colour-font,10%);
                &:focus{
                    border:none
                }
            }
        }
    }
    &__text{
        &__part1{
            padding: 1em 2em 0em 2em;
            font-weight: bolder;
            font-size: 1.5em;
            text-align: center;
            font-family: 'Roboto', sans-serif;
        }
        &__part2{
            padding: 0em 1em 0em 1em;
            color: $colour-text;
            font-size: 1.2em;
            text-align: center;
            font-family: 'Roboto', sans-serif;
            
        }  
    }
    &__button{
        padding: 1em 2em 2em 2em;
        text-align: center;
        
        &__text{
            background: $colour-button;
            color: lighten($colour-text,80%);
            font-size: 1em; 
            border: none;
            border-radius: 2em 2em 2em 2em;
            height: 3em;
            width: 70%;
            @include box-shadow_button;
            font-family: 'Roboto', sans-serif;
            &:hover{
                @include button-hover;
            }
        }
    }
}

.div__fonctionnement{
    position: relative;
    top: 22rem;
    @media screen and (min-width: 750px){
        top: 16rem;
    }
    &__title{
        font-weight: bolder;
        font-size: 1.5em;
        padding: 6% 0% 0% 5%;
        font-family: 'Roboto', sans-serif;
    }
}
.fonctionnement{
    @include flex-colum;
    align-items: center;
    @media screen and (min-width: 850px){
        flex-direction:row ; 
        justify-content: space-around;
    }
    &__restaurant{
        border-radius: 1em 1em 1em 1em;
        background-color: $colour-font;
        @include box-shadow_restaurant_menu;
        height: 4em;
        width: 90%;
        @include flex-start-center;
        margin-bottom: 8%;
        @for $i from 1 through 3 {
            &:nth-child(#{$i}){
                color: $colour-text;
            }
        }
        @media screen and (min-width: 850px){
            width: 25%; 
        }
        &:hover{
            @include restaurant-hover;
            background-color: lighten($colour-primary,30%);
            color: $colour-primary;
        }
        &__text{
            padding: 0em 1em 0em 1.5em;
            color: black;
            font-size: 1.2em;
            text-align: center;
            font-family: 'Roboto', sans-serif;
            
        }
        &__icon{
            margin-left: -0.7em;
            margin-right: 8%;
            border-radius: 2em;
            height: 1.5em;
            width: 1.5em;
            background-color: $colour-primary;
            color: lighten($colour-text,80%);
            @include display-center;
        }
    }
    
}

.section{
    background-color: $colour-font; 
    width: 100%;
    padding-bottom: 4em;
    position: relative;
    top: 22em;
    @media screen and (min-width: 750px){
        top: 16rem;
    }
    h2{
        font-weight: bolder;
        font-size: 1.5em;
        padding: 6% 0% 0% 5%;
        font-family: 'Roboto', sans-serif;
    }
    &__menu{
        display: flex;
        flex-wrap: wrap;
        
        &__carte{
            width: 90%;
            background-color: lighten($colour-text,80%);
            border-radius: 1em 1em 1em 1em;
            height: 15em;
            margin: 0% 0% 5% 5%;
            @include box-shadow_button;
            text-decoration: none;
            overflow: hidden;
            @media screen and (min-width: 850px){
                width: 40%;
            }
            &__img {
                background-size: cover;
                height: 11em;
                background-position: 0% 50%;
                
            }
            @for $i from 1 through 4 {
                &__img-#{$i}{
                    background-image: url("../assets/menu-#{$i}.jpg")

                }
            }
            &__text{
                position: relative;
                h3{
                   margin: 0.5em 0em 0em 1em; 
                   color:black ;
                } 
                p{
                    margin: 0.1em 0em 0em 1em; 
                    color:black ;
                }
                i{
                    font-size: 1.2em;
                    position: absolute;
                    right: 1em;
                    top: 25%;

                }
                .far{
                    color: black;
                }
                .fas{
                    background-image: $colour-heart;
                    background-clip: text;
                    -webkit-background-clip: text;
                    color: transparent;
                    opacity: 0;
                    transition: all 500ms;
                    &:hover{
                    opacity: 1;
                    cursor: pointer;
                    }
                }
                
            }
            &:hover{
                @include restaurant-hover;
            }
        }
   }
}
.new::before{
    content: "Nouveau";
    position: absolute;
    height: 2em;
    width: 5em;
    background-color:$colour-tertiary ;
    color: darken($colour-tertiary,50%);
    display: grid;
    place-items:center;
    margin-left: 65%;
    margin-top: 1em;
    @media screen and (min-width: 880px){
        margin-left: 30%;
    }
}
.footer{
    position: relative;
    width: 100%;
    background-color: darken($colour-font,80%);
    padding-bottom: 2em;
    &__div{
        margin-left: 5%;
        padding: 10% 0% 5% 0%;
        color: lighten($colour-text,80%); 
        font-family: 'Roboto', sans-serif;
        @media screen and (min-width: 850px){
            padding: 5% 0% 0% 0%;
        }
        &__text{
            color: lighten($colour-text,80%);
        }
        &__title {
            margin-top: -1em;
            font-size: 1.2em;
            font-family: 'Shrikhand', cursive;
            color: lighten($colour-text,80%); 
        }
    }
    
}
.footer_acceuil{
    
    top: 20em;
    @media screen and (min-width: 750px){
        top: 16em;
    }
}

 /*Page menu*/
.logo__menu{
    width: 100%;
    @include display-spbetween-center;
    &__icon{
        font-size: 1.5em;
        color: black;
        margin-left: 0.5em;
    }
    &__img{
        width: 40%;
        margin: 2% 25%;
        @media screen and (min-width: 850px){
            width: 50%;
            margin: 1% 40% ;
        }
    }
 }
 @keyframes menu_item {
    0%{
    transform: translateY(50%);
    opacity: 0;
    }
    100%{
    transform: translate(0);
    opacity: 1;
    }
}
 /*Page palette*/
 
.palette{
    width: 100%;
    border-radius: 2em 2em 0em 0em;
    background-color: $colour-font;
    margin: -3em 0% 0% 0%;
    position: relative;
    @media screen and (min-width: 850px){
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    &__img{
        width: 140%;
        overflow: hidden;
        position: relative;
        height: 18em;
        right: 4em;
        &__image{
            width: 100%;
            position: absolute;
            top: 55%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    &__restaurant{
        width: 85%;
        margin-left: 5%;
        @include display-spbetween-center;
        &__title{
            margin-top: 0.8em;
            font-size: 1.6em;
            font-family: 'Shrikhand', cursive;
        }
        &__icon{
            font-size: 1.6em;
            color:$colour-text; 
            &.checked{
                display: none;
            }
        }
        &__icon input[type="checkbox"]:checked ~ .checked
        {
            display: inline-block;
            background-image: $colour-heart;
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            
        }
        &__icon input[type="checkbox"]:checked ~ .unchecked
        {
            display: none;
        }
        &__icon input[type="checkbox"], .checked
        {
            display: none;
        }
        &__icon:hover{
            cursor: pointer;
        }
    }
    &__div{
        @media screen and (min-width: 850px){
            margin: 4em 1em 0em 1em;
        }
        &__title{
            margin: 0% 0% 0% 4%;
        }
        &__title__deco{
            margin: 0% 0% 3% 4%;
            background-color: $colour-tertiary;
            width: 2.5rem;
            height: 0.1rem;
        }
        &__entree{
            width: 95%;
            background-color: lighten($colour-text,80%);
            border-radius: 1em 1em 1em 1em;
            height: 4em;
            margin: 0% 0% 2.5% 2.5%;
            @include box-shadow_restaurant_menu;
            @include flex-colum;
            justify-content: center;
            flex-shrink: 0;
            @for $i from 3 through 5 {
                &:nth-child(#{$i}){
                    animation-delay: $i * 200ms;
                }
            }
            animation: menu_item 0.5s linear;
            animation-fill-mode: both;
            overflow: hidden;
            @media screen and (min-width: 850px){
                width: 27em;
            }
            &__text{
                margin-left: 3%;
                height: 100%;
                &:hover{
                    cursor: pointer;
                }
                &__prix{
                    display: flex;
                    justify-content: center;
                    height: 100%;
                    &__menu-prix{
                        margin: 2em 0.5em 0em auto;
                    }
                    &__menu-text{
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        margin: 0.8em 0em 0.5em 0em;
                    }
                    &__check{
                        background: $colour-tertiary;
                        @include display-center;
                        margin-right: -5em;
                        width: 5em;
                        transition:all 500ms;
                        &__icon{
                            position: relative;
                            border-radius: 1em;
                            height: 1.3em;
                            width: 1.3em;
                            background-color: lighten($colour-text,80%);
                            color: $colour-tertiary;
                            @include display-center;
                        }
                    }
                }
                &:hover .palette__div__entree__text__prix__check{
                    margin-right: 0;
                    transition:500ms;
                }
                &:hover .palette__div__entree__text__prix__check__icon{
                    transform: rotate(1turn);
                    transition:500ms;
                
                }
            }
        }
    }
    &__button{
        padding: 2em 2em 2em 2em;
        text-align: center;
        @media screen and (min-width: 850px){
            display: flex;
            align-items: center;
            padding: 4em 20em 4em 20em;
        }
        &__text{
            background: $colour-button;
            color: lighten($colour-text,80%);
            font-size: 1em; 
            border: none;
            border-radius: 2em 2em 2em 2em;
            height: 3em;
            width: 40%;
            @include box-shadow_button;
            font-family: 'Roboto', sans-serif;
            @media screen and (min-width: 850px){
                width: 20em;
            }
            &:hover{
                @include button-hover;
            }
        }
    } 
}
/*Page enchantee*/
.enchantee{
    width: 100%;
    border-radius: 2em 2em 0em 0em;
    background-color: $colour-font;
    margin: -3em 0% 0% 0%;
    position: relative;
    &__img{
        width: 140%;
        overflow: hidden;
        position: relative;
        height: 18em;
        right: 4em;
        &__image{
            width: 100%;
            position: absolute;
            top: 55%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    &__restaurant{
        width: 85%;
        margin-left: 5%;
        @include display-spbetween-center;
        &__title{
            margin-top: 0.8em;
            font-size: 1.8em;
            font-family: 'Shrikhand', cursive;
        }
        &__icon{
            font-size: 1.6em;
            color:$colour-text; 
            box-sizing: inherit;
            scroll-behavior: smooth;
            &.checked{
                display: none;
            }
        }
        &__icon input[type="checkbox"]:checked ~ .checked
        {
            display: inline-block;
            background-image: $colour-heart;
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            
        }
        &__icon input[type="checkbox"]:checked ~ .unchecked
        {
            display: none;
        }
        &__icon input[type="checkbox"], .checked
        {
            display: none;
        }
        &__icon:hover{
            cursor: pointer;
        }
    }
    &__div{

        &__title{
            margin: 0% 0% 0% 4%;
        }
        &__title__deco{
            margin: 0% 0% 3% 4%;
            background-color: $colour-tertiary;
            width: 2.5rem;
            height: 0.1rem;
        }
        &__entree{
            width: 95%;
            background-color: lighten($colour-text,80%);
            border-radius: 1em 1em 1em 1em;
            height: 4em;
            margin: 0% 0% 2.5% 2.5%;
            @include box-shadow_restaurant_menu;
            @include flex-colum;
            justify-content: center;
            flex-shrink: 0;
            @for $i from 3 through 6 {
                &:nth-child(#{$i}){
                    animation-delay: $i * 200ms;
                }
            }
            animation: menu_item 0.5s linear;
            animation-fill-mode: both;
            overflow: hidden;
            &__text{
                margin-left: 3%;
                height: 100%;
                &:hover{
                    cursor: pointer;
                }
                &__prix{
                    //@include flex-end-between;
                    display: flex;
                    justify-content: center;
                    height: 100%;
                    &__menu-prix{
                        margin: 2em 0.5em 0em auto;
                    }
                    &__menu-text{
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        margin: 0.8em 0em 0.5em 0em;
                    }
                    &__check{
                        background: $colour-tertiary;
                        @include display-center;
                        margin-right: -5em;
                        width: 5em;
                        transition:all 500ms;
                        &__icon{
                            position: relative;
                            border-radius: 1em;
                            height: 1.3em;
                            width: 1.3em;
                            background-color: lighten($colour-text,80%);
                            color: $colour-tertiary;
                            @include display-center;
                        }
                    }
                }
                &:hover .enchantee__div__entree__text__prix__check{
                    margin-right: 0;
                    transition:500ms;
                }
                &:hover .enchantee__div__entree__text__prix__check__icon{
                    transform: rotate(1turn);
                    transition:500ms;
                
                }
            }
        }
    }
    &__button{
        padding: 2em 2em 2em 2em;
        text-align: center;
        
        &__text{
            background: $colour-button;
            color: lighten($colour-text,80%);
            font-size: 1em; 
            border: none;
            border-radius: 2em 2em 2em 2em;
            height: 3em;
            width: 40%;
            @include box-shadow_button;
            font-family: 'Roboto', sans-serif;
            &:hover{
                @include button-hover;
            }
        }
    } 
}



/*Page delice*/
.delice{
    width: 100%;
    border-radius: 2em 2em 0em 0em;
    background-color: $colour-font;
    margin: -3em 0% 0% 0%;
    position: relative;
    &__img{
        width: 140%;
        overflow: hidden;
        position: relative;
        height: 18em;
        right: 4em;
        &__image{
            width: 100%;
            position: absolute;
            top: 55%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    &__restaurant{
        width: 85%;
        margin-left: 5%;
        @include display-spbetween-center;
        &__title{
            margin-top: 0.8em;
            font-size: 1.6em;
            font-family: 'Shrikhand', cursive;
        }
        &__icon{
            font-size: 2em;
            color:$colour-text; 
            box-sizing: inherit;
            scroll-behavior: smooth;
            &.checked{
                display: none;
            }
        }
        &__icon input[type="checkbox"]:checked ~ .checked
        {
            display: inline-block;
            background-image: $colour-heart;
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            
        }
        &__icon input[type="checkbox"]:checked ~ .unchecked
        {
            display: none;
        }
        &__icon input[type="checkbox"], .checked
        {
            display: none;
        }
        &__icon:hover{
            cursor: pointer;
        }
    }
    &__div{

        &__title{
            margin: 0% 0% 0% 4%;
        }
        &__title__deco{
            margin: 0% 0% 3% 4%;
            background-color: $colour-tertiary;
            width: 2.5rem;
            height: 0.1rem;
        }
        &__entree{
            width: 95%;
            background-color: lighten($colour-text,80%);
            border-radius: 1em 1em 1em 1em;
            height: 4em;
            margin: 0% 0% 2.5% 2.5%;
            @include box-shadow_restaurant_menu;
            @include flex-colum;
            justify-content: center;
            flex-shrink: 0;
            @for $i from 3 through 5 {
                &:nth-child(#{$i}){
                    animation-delay: $i * 200ms;
                }
            }
            animation: menu_item 0.5s linear;
            animation-fill-mode: both;
            overflow: hidden;
            &__text{
                margin-left: 3%;
                height: 100%;
                &:hover{
                    cursor: pointer;
                }
                &__prix{
                    display: flex;
                    justify-content: center;
                    height: 100%;
                    &__menu-prix{
                        margin: 2em 0.5em 0em auto;
                    }
                    &__menu-text{
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        margin: 0.8em 0em 0.5em 0em;
                    }
                    &__check{
                        background: $colour-tertiary;
                        @include display-center;
                        margin-right: -5em;
                        width: 5em;
                        transition:all 500ms;
                        &__icon{
                            position: relative;
                            border-radius: 1em;
                            height: 1.3em;
                            width: 1.3em;
                            background-color: lighten($colour-text,80%);
                            color: $colour-tertiary;
                            @include display-center;
                        }
                    }
                }
                &:hover .delice__div__entree__text__prix__check{
                    margin-right: 0;
                    transition:500ms;
                }
                &:hover .delice__div__entree__text__prix__check__icon{
                    transform: rotate(1turn);
                    transition:500ms;
                
                }
            }
        }
    }
    &__button{
        padding: 2em 2em 2em 2em;
        text-align: center;
        
        &__text{
            background: $colour-button;
            color: lighten($colour-text,80%);
            font-size: 1em; 
            border: none;
            border-radius: 2em 2em 2em 2em;
            height: 3em;
            width: 40%;
            @include box-shadow_button;
            font-family: 'Roboto', sans-serif;
            &:hover{
                @include button-hover;
            }
        }
    } 
}
/*Page francaise*/
.francaise{
    width: 100%;
    border-radius: 2em 2em 0em 0em;
    background-color: $colour-font;
    margin: -3em 0% 0% 0%;
    position: relative;
    &__img{
        width: 140%;
        overflow: hidden;
        position: relative;
        height: 18em;
        right: 4em;
        &__image{
            width: 100%;
            position: absolute;
            top: 55%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    &__restaurant{
        width: 85%;
        margin-left: 5%;
        @include display-spbetween-center;
        &__title{
            margin-top: 0.8em;
            font-size: 1.6em;
            font-family: 'Shrikhand', cursive;
        }
        &__icon{
            font-size: 1.6em;
            color:$colour-text; 
            box-sizing: inherit;
            scroll-behavior: smooth;
            &.checked{
                display: none;
            }
        }
        &__icon input[type="checkbox"]:checked ~ .checked
        {
            display: inline-block;
            background-image: $colour-heart;
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            flex-shrink: 0;
            
        }
        &__icon input[type="checkbox"]:checked ~ .unchecked
        {
            display: none;
        }
        &__icon input[type="checkbox"], .checked
        {
            display: none;
        }
        &__icon:hover{
            cursor: pointer;
        }
    }
    &__div{

        &__title{
            margin: 0% 0% 0% 4%;
        }
        &__title__deco{
            margin: 0% 0% 3% 4%;
            background-color: $colour-tertiary;
            width: 2.5rem;
            height: 0.1rem;
        }
        &__entree{
            width: 95%;
            background-color: lighten($colour-text,80%);
            border-radius: 1em 1em 1em 1em;
            height: 4em;
            margin: 0% 0% 2.5% 2.5%;
            @include box-shadow_restaurant_menu;
            @include flex-colum;
            justify-content: center;
            flex-shrink: 0;
            @for $i from 3 through 5 {
                &:nth-child(#{$i}){
                    animation-delay: $i * 200ms;
                }
            }
            animation: menu_item 0.5s linear;
            animation-fill-mode: both;
            overflow: hidden;
            &__text{
                margin-left: 3%;
                height: 100%;
                &:hover{
                    cursor: pointer;
                }
                &__prix{
                    display: flex;
                    justify-content: center;
                    height: 100%;
                    &__menu-prix{
                        margin: 2em 0.5em 0em auto;
                    }
                    &__menu-text{
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        margin: 0.8em 0em 0.5em 0em;
                    }
                    &__check{
                        background: $colour-tertiary;
                        @include display-center;
                        margin-right: -5em;
                        width: 5em;
                        transition:all 500ms;
                        &__icon{
                            position: relative;
                            border-radius: 1em;
                            height: 1.3em;
                            width: 1.3em;
                            background-color: lighten($colour-text,80%);
                            color: $colour-tertiary;
                            @include display-center;
                        }
                    }
                }
                &:hover .francaise__div__entree__text__prix__check{
                    margin-right: 0;
                    transition:500ms;
                }
                &:hover .francaise__div__entree__text__prix__check__icon{
                    transform: rotate(1turn);
                    transition:500ms;
                
                }
            }
        }
    }
    &__button{
        padding: 2em 2em 2em 2em;
        text-align: center;
        
        &__text{
            background: $colour-button;
            color: lighten($colour-text,80%);
            font-size: 1em; 
            border: none;
            border-radius: 2em 2em 2em 2em;
            height: 3em;
            width: 40%;
            @include box-shadow_button;
            font-family: 'Roboto', sans-serif;
            &:hover{
                @include button-hover;
            }
        }
    } 
}
