@charset "UTF-8";
/*général */
* {
  list-style: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px;
}

.loader {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fondu 3s linear;
  background: #eeeeee;
  opacity: 0;
  z-index: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.loader__icon {
  width: 4em;
  height: 4em;
  border: 0.2em solid black;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  animation: chargement 1.5s linear infinite;
}
.loader__icon:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 3.9em;
  height: 3.9em;
  border-radius: 50%;
  border: 1em solid;
  border-color: #FF79DA transparent;
}

@keyframes chargement {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fondu {
  0% {
    opacity: 0.9;
    z-index: 2000;
  }
  80% {
    opacity: 0.9;
    z-index: 2000;
  }
  100% {
    opacity: 0;
    z-index: 2000;
  }
}
.logo {
  width: 100%;
}
.logo__img {
  width: 50%;
  margin: 2% 25%;
}

.header {
  position: absolute;
  left: 0;
  width: 100%;
  background-color: #eeeeee;
  z-index: 1000;
}
.header__lieu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3em;
  background-color: #d5d5d5;
  box-shadow: 0px 40px 8px -36px rgba(105, 105, 105, 0.75) inset;
  -webkit-box-shadow: 0px 40px 8px -36px rgba(105, 105, 105, 0.75) inset;
  -moz-box-shadow: 0px 40px 8px -36px rgba(105, 105, 105, 0.75) inset;
}
.header__lieu__button {
  margin-left: 1em;
  border: none;
  background-color: #d5d5d5;
}
.header__text__part1 {
  padding: 1em 2em 0em 2em;
  font-weight: bolder;
  font-size: 1.5em;
  text-align: center;
  font-family: "Roboto", sans-serif;
}
.header__text__part2 {
  padding: 0em 1em 0em 1em;
  color: #535353;
  font-size: 1.2em;
  text-align: center;
  font-family: "Roboto", sans-serif;
}
.header__button {
  padding: 1em 2em 2em 2em;
  text-align: center;
}
.header__button__text {
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  font-size: 1em;
  border: none;
  border-radius: 2em 2em 2em 2em;
  height: 3em;
  width: 70%;
  box-shadow: 0em 0.2em 0.2em 0em #d5d5d5;
  font-family: "Roboto", sans-serif;
}
.header__button__text:hover {
  cursor: pointer;
  transform: scale(1.01);
  transition: 300ms;
  opacity: 0.8;
  box-shadow: 0em 0.3em 0.3em 0em #a2a2a2;
}

.div__fonctionnement {
  position: relative;
  top: 45vh;
}
.div__fonctionnement__title {
  font-weight: bolder;
  font-size: 1.5em;
  padding: 6% 0% 0% 5%;
  font-family: "Roboto", sans-serif;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fonctionnement__restaurant {
  border-radius: 1em 1em 1em 1em;
  background-color: #eeeeee;
  box-shadow: 0em 0.2em 0.6em 0.2em #d5d5d5;
  height: 4em;
  width: 90%;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 8%;
}
.fonctionnement__restaurant:nth-child(1) {
  color: #535353;
}
.fonctionnement__restaurant:nth-child(2) {
  color: #535353;
}
.fonctionnement__restaurant:nth-child(3) {
  color: #535353;
}
.fonctionnement__restaurant:hover {
  box-shadow: 0em 0.4em 0.6em 0em #bbbbbb;
  transition: 300ms;
  cursor: pointer;
  background-color: #e4d5f6;
  color: #9356DC;
}
.fonctionnement__restaurant__text {
  padding: 0em 1em 0em 1.5em;
  color: black;
  font-size: 1.2em;
  text-align: center;
  font-family: "Roboto", sans-serif;
}
.fonctionnement__restaurant__icon {
  margin-left: -0.7em;
  margin-right: 8%;
  border-radius: 2em;
  height: 1.5em;
  width: 1.5em;
  background-color: #9356DC;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section {
  background-color: #eeeeee;
  width: 100%;
  padding-bottom: 4em;
  position: relative;
  top: 48vh;
}
.section h2 {
  font-weight: bolder;
  font-size: 1.5em;
  padding: 6% 0% 0% 5%;
  font-family: "Roboto", sans-serif;
}
.section__menu {
  display: flex;
  flex-wrap: wrap;
}
.section__menu__carte {
  width: 90%;
  background-color: white;
  border-radius: 1em 1em 1em 1em;
  height: 15em;
  margin: 0% 0% 5% 5%;
  box-shadow: 0em 0.2em 0.2em 0em #d5d5d5;
  text-decoration: none;
  overflow: hidden;
}
.section__menu__carte__img {
  background-size: cover;
  height: 11em;
  background-position: 0% 50%;
}
.section__menu__carte__img-1 {
  background-image: url("../assets/menu-1.jpg");
}
.section__menu__carte__img-2 {
  background-image: url("../assets/menu-2.jpg");
}
.section__menu__carte__img-3 {
  background-image: url("../assets/menu-3.jpg");
}
.section__menu__carte__img-4 {
  background-image: url("../assets/menu-4.jpg");
}
.section__menu__carte__text {
  position: relative;
}
.section__menu__carte__text h3 {
  margin: 0.5em 0em 0em 1em;
  color: black;
}
.section__menu__carte__text p {
  margin: 0.1em 0em 0em 1em;
  color: black;
}
.section__menu__carte__text i {
  font-size: 1.2em;
  position: absolute;
  right: 1em;
  top: 25%;
}
.section__menu__carte__text__heart input[type=checkbox]:checked ~ .checked {
  display: inline-block;
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(#9356DC, #FF79DA);
}
.section__menu__carte__text__heart input[type=checkbox]:checked ~ .unchecked {
  display: none;
}
.section__menu__carte__text__heart input[type=checkbox], .section__menu__carte__text .checked {
  display: none;
}
.section__menu__carte__text__heart {
  color: black;
  font-size: 1.3em;
  cursor: pointer;
}
.section__menu__carte__text__heart__checked {
  display: none;
}
.section__menu__carte:hover {
  box-shadow: 0em 0.4em 0.6em 0em #bbbbbb;
  transition: 300ms;
  cursor: pointer;
}

.new::before {
  content: "Nouveau";
  position: absolute;
  height: 2em;
  width: 5em;
  background-color: #99E2D0;
  color: #1b6150;
  display: grid;
  place-items: center;
  right: 4em;
  margin-top: 1em;
}

/* haut | droit | bas | gauche margin: 0% 10% 0% 10%;*/
/*
.restaurant {
    position: relative;
    top: 48vh;


    &__title{
    }
    &__div{


        &__img{
            width: 100%;
            border-radius: 1em 1em  0 0;
            overflow: hidden;
            position: relative;
            height: 75%;
            &__image{
                width: 100%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        &__text{
            width: 85%;
            margin-left: 5%;
            @include display-spbetween-center;
            &__name{
                color: black;
                font-size: 1.2em;
                margin-top: 0.4em;
                margin-bottom: 0.4em;
            }
        }
        &__heart input[type="checkbox"]:checked ~ .checked
        {
            display: inline-block;
            color:transparent;
            background-clip: text;
            background-image: $colour-heart;
        }
        &__heart input[type="checkbox"]:checked ~ .unchecked
        {
            display: none;
        }
        &__heart input[type="checkbox"], .checked
        {
            display: none;
        }
        &__heart{
            color: black;
            font-size: 1.3em;
            cursor: pointer;
            &__checked{
                display: none;
            }
        }

    }
}
.new::before{
    content: "Nouveau";
    position: fixed;
    height: 2em;
    width: 3em;
    background-color:$colour-tertiary ;
}
*/
.footer {
  position: relative;
  width: 100%;
  background-color: #222222;
}
.footer__div {
  margin-left: 5%;
  padding: 10% 0% 5% 0%;
  color: white;
  font-family: "Roboto", sans-serif;
}
.footer__div__text {
  text-decoration: none;
  color: white;
}
.footer__div__title {
  margin-top: -1em;
  font-size: 1.2em;
  font-family: "Shrikhand", cursive;
  color: white;
}

.footer_acceuil {
  top: 45vh;
}

/*Page menu*/
.logo__menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo__menu__icon {
  font-size: 1.5em;
  color: black;
  margin-left: 0.5em;
}
.logo__menu__img {
  width: 50%;
  margin: 2% 25%;
}

/*Page palette*/
.palette {
  width: 100%;
  border-radius: 2em 2em 0em 0em;
  background-color: #eeeeee;
  margin: -3em 0% 0% 0%;
  position: relative;
  padding-bottom: 2em;
}
.palette__img {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 20em;
}
.palette__img__image {
  width: 100%;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.palette__restaurant {
  width: 85%;
  margin-left: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.palette__restaurant__title {
  margin-top: 0.8em;
  font-size: 2em;
  font-family: "Shrikhand", cursive;
}
.palette__restaurant__title__icon {
  font-size: 2em;
  color: #535353;
}
.palette__div__title {
  /* haut | droit | bas | gauche margin: 0% 10% 0% 10%;*/
  margin: 0% 0% 0% 4%;
}
.palette__div__title__deco {
  margin: 0% 0% 3% 4%;
  background-color: #99E2D0;
  width: 7%;
  height: 0.1em;
}
.palette__div__entree {
  width: 95%;
  background-color: white;
  border-radius: 1em 1em 1em 1em;
  height: 4em;
  margin: 0% 0% 2.5% 2.5%;
  box-shadow: 0em 0.2em 0.6em 0.2em #d5d5d5;
  display: flex;
  flex-direction: column;
  animation: menu_item 0.5s linear;
  animation-fill-mode: both;
}
.palette__div__entree:nth-child(1) {
  animation-delay: 100ms;
  /*animation-delay: delay-animation(100)+ms;*/
}
.palette__div__entree:nth-child(2) {
  animation-delay: 200ms;
  /*animation-delay: delay-animation(100)+ms;*/
}
.palette__div__entree:nth-child(3) {
  animation-delay: 300ms;
  /*animation-delay: delay-animation(100)+ms;*/
}
.palette__div__entree:nth-child(4) {
  animation-delay: 400ms;
  /*animation-delay: delay-animation(100)+ms;*/
}
.palette__div__entree:nth-child(5) {
  animation-delay: 500ms;
  /*animation-delay: delay-animation(100)+ms;*/
}
.palette__div__entree__text {
  margin: 0% 3% 0% 2%;
}
.palette__div__entree__text__prix {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.palette__button {
  padding: 2em 2em 2em 2em;
  text-align: center;
}
.palette__button__text {
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  font-size: 1em;
  border: none;
  border-radius: 2em 2em 2em 2em;
  height: 3em;
  width: 40%;
  box-shadow: 0em 0.2em 0.2em 0em #d5d5d5;
  font-family: "Roboto", sans-serif;
}
.palette__button__text:hover {
  cursor: pointer;
  transform: scale(1.01);
  transition: 300ms;
  opacity: 0.8;
  box-shadow: 0em 0.3em 0.3em 0em #a2a2a2;
}

/*Page enchantee*/
.enchantee {
  width: 100%;
  border-radius: 2em 2em 0em 0em;
  background-color: #eeeeee;
  margin: -3em 0% 0% 0%;
  position: relative;
  padding-bottom: 2em;
}
.enchantee__img {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 20em;
}
.enchantee__img__image {
  width: 100%;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.enchantee__restaurant {
  width: 85%;
  margin-left: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.enchantee__restaurant__title {
  margin-top: 0.8em;
  font-size: 2em;
  font-family: "Shrikhand", cursive;
}
.enchantee__restaurant__icon {
  font-size: 2em;
  color: #535353;
}
.enchantee__restaurant__icon.checked {
  display: none;
}
.enchantee__restaurant__icon input[type=checkbox]:checked ~ .checked {
  display: inline-block;
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(#9356DC, #FF79DA);
}
.enchantee__restaurant__icon input[type=checkbox]:checked ~ .unchecked {
  display: none;
}
.enchantee__restaurant__icon input[type=checkbox], .enchantee__restaurant .checked {
  display: none;
}
.enchantee__restaurant__icon:hover {
  cursor: pointer;
}
.enchantee__div__title {
  /* haut | droit | bas | gauche margin: 0% 10% 0% 10%;*/
  margin: 0% 0% 0% 4%;
}
.enchantee__div__title__deco {
  margin: 0% 0% 3% 4%;
  background-color: #99E2D0;
  width: 7%;
  height: 0.1em;
}
.enchantee__div__entree {
  width: 95%;
  background-color: white;
  border-radius: 1em 1em 1em 1em;
  /*height: 4em;*/
  margin: 0% 0% 2.5% 2.5%;
  box-shadow: 0em 0.2em 0.6em 0.2em #d5d5d5;
  display: flex;
  flex-direction: row;
  position: relative;
  overflow: hidden;
  animation: menu_item 0.2s linear;
  animation-fill-mode: both;
}
.enchantee__div__entree:nth-child(1) {
  animation-delay: 100ms;
}
.enchantee__div__entree:nth-child(2) {
  animation-delay: 200ms;
}
.enchantee__div__entree:nth-child(3) {
  animation-delay: 300ms;
}
.enchantee__div__entree:nth-child(4) {
  animation-delay: 400ms;
}
.enchantee__div__entree:nth-child(5) {
  animation-delay: 500ms;
}
.enchantee__div__entree:nth-child(6) {
  animation-delay: 600ms;
}
.enchantee__div__entree:hover {
  cursor: pointer;
}
.enchantee__div__entree__text {
  margin-left: 3%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-size: 1.05em;
}
.enchantee__div__entree__text__font {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.enchantee__div__entree__text input[type=checkbox] {
  display: none;
}
.enchantee__div__entree__text input[type=checkbox]:checked ~ .enchantee__div__entree__text__prix {
  translate: -65%;
}
.enchantee__div__entree__text__prix {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  left: 20%;
  width: 30%;
  position: relative;
  transition: all 500ms;
}
.enchantee__div__entree__text__prix__check {
  position: relative;
  background: #99E2D0;
  width: 65%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}
.enchantee__div__entree__text__prix__check__icon {
  position: relative;
  border-radius: 1em;
  height: 1.3em;
  width: 1.3em;
  background-color: white;
  color: #99E2D0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.enchantee__div__entree:hover .enchantee__div__entree__text__prix {
  translate: -65%;
  transition: 500ms;
  cursor: pointer;
}
.enchantee__div__entree:hover .enchantee__div__entree__text__prix__check__icon {
  transform: rotate(1turn);
  transition: 500ms;
}
.enchantee__button {
  padding: 2em 2em 2em 2em;
  text-align: center;
}
.enchantee__button__text {
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  font-size: 1em;
  border: none;
  border-radius: 2em 2em 2em 2em;
  height: 3em;
  width: 40%;
  box-shadow: 0em 0.2em 0.2em 0em #d5d5d5;
  font-family: "Roboto", sans-serif;
}
.enchantee__button__text:hover {
  cursor: pointer;
  transform: scale(1.01);
  transition: 300ms;
  opacity: 0.8;
  box-shadow: 0em 0.3em 0.3em 0em #a2a2a2;
}

@keyframes menu_item {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
/*Page delice*/
.delice {
  width: 100%;
  border-radius: 2em 2em 0em 0em;
  background-color: #eeeeee;
  margin: -3em 0% 0% 0%;
  position: relative;
  padding-bottom: 2em;
}
.delice__img {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 20em;
}
.delice__img__image {
  width: 100%;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.delice__restaurant {
  width: 85%;
  margin-left: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.delice__restaurant__title {
  margin-top: 0.8em;
  font-size: 2em;
  font-family: "Shrikhand", cursive;
}
.delice__restaurant__title__icon {
  font-size: 2em;
  color: #535353;
}
.delice__div__title {
  /* haut | droit | bas | gauche margin: 0% 10% 0% 10%;*/
  margin: 0% 0% 0% 4%;
}
.delice__div__title__deco {
  margin: 0% 0% 3% 4%;
  background-color: #99E2D0;
  width: 7%;
  height: 0.1em;
}
.delice__div__entree {
  width: 95%;
  background-color: white;
  border-radius: 1em 1em 1em 1em;
  height: 4em;
  margin: 0% 0% 2.5% 2.5%;
  box-shadow: 0em 0.2em 0.6em 0.2em #d5d5d5;
  display: flex;
  flex-direction: column;
}
.delice__div__entree__text {
  margin: 0% 3% 0% 2%;
}
.delice__div__entree__text__prix {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.delice__button {
  padding: 2em 2em 2em 2em;
  text-align: center;
}
.delice__button__text {
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  font-size: 1em;
  border: none;
  border-radius: 2em 2em 2em 2em;
  height: 3em;
  width: 40%;
  box-shadow: 0em 0.2em 0.2em 0em #d5d5d5;
  font-family: "Roboto", sans-serif;
}
.delice__button__text:hover {
  cursor: pointer;
  transform: scale(1.01);
  transition: 300ms;
  opacity: 0.8;
  box-shadow: 0em 0.3em 0.3em 0em #a2a2a2;
}

/*Page francaise*/
.francaise {
  width: 100%;
  border-radius: 2em 2em 0em 0em;
  background-color: #eeeeee;
  margin: -3em 0% 0% 0%;
  position: relative;
  padding-bottom: 2em;
}
.francaise__img {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 20em;
}
.francaise__img__image {
  width: 100%;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.francaise__restaurant {
  width: 85%;
  margin-left: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.francaise__restaurant__title {
  margin-top: 0.8em;
  font-size: 2em;
  font-family: "Shrikhand", cursive;
}
.francaise__restaurant__title__icon {
  font-size: 2em;
  color: #535353;
}
.francaise__div__title {
  /* haut | droit | bas | gauche margin: 0% 10% 0% 10%;*/
  margin: 0% 0% 0% 4%;
}
.francaise__div__title__deco {
  margin: 0% 0% 3% 4%;
  background-color: #99E2D0;
  width: 7%;
  height: 0.1em;
}
.francaise__div__entree {
  width: 95%;
  background-color: white;
  border-radius: 1em 1em 1em 1em;
  height: 4em;
  margin: 0% 0% 2.5% 2.5%;
  box-shadow: 0em 0.2em 0.6em 0.2em #d5d5d5;
  display: flex;
  flex-direction: column;
}
.francaise__div__entree__text {
  margin: 0% 3% 0% 2%;
}
.francaise__div__entree__text__prix {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.francaise__button {
  padding: 2em 2em 2em 2em;
  text-align: center;
}
.francaise__button__text {
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  font-size: 1em;
  border: none;
  border-radius: 2em 2em 2em 2em;
  height: 3em;
  width: 40%;
  box-shadow: 0em 0.2em 0.2em 0em #d5d5d5;
  font-family: "Roboto", sans-serif;
}
.francaise__button__text:hover {
  cursor: pointer;
  transform: scale(1.01);
  transition: 300ms;
  opacity: 0.8;
  box-shadow: 0em 0.3em 0.3em 0em #a2a2a2;
}

/*# sourceMappingURL=style.css.map */
