$colour-font : #eeeeee;
$colour-primary : #9356DC;
$colour-secondary : #FF79DA;
$colour-tertiary : #99E2D0;
$colour-text: #535353;
$colour-button: linear-gradient(#FF79DA,#9356DC);
$colour-heart: linear-gradient(#9356DC,#FF79DA);